<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637940258913-7q6g6lm0lbnaul8ocjtopv256bck1ucb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637940258913-7q6g6lm0lbnaul8ocjtopv256bck1ucb</string>
	<key>API_KEY</key>
	<string>AIzaSyBnx_3CMSQ1A-FFlJtudFakEEade9MbUwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>637940258913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-b2a32</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-b2a32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637940258913:ios:9f01e11cf74657e81e7220</string>
</dict>
</plist>